.wrapper {
    width: 153.3rem;
}

.action {
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;

    .filter {
        display: flex;
        gap: 6.4rem;
    }

    .search {
        width: 50.1rem;
    }
}

.contract_title,
.contract_item {
    display: flex;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.title {
    color: var(--orange-3);
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    letter-spacing: 0.028px;
    padding: .8rem .8rem .8rem 0;
}

.content {
    color: var(--white);
    display: flex;
    align-items: center;
    letter-spacing: 0.21px;
}

.contract_item {
    cursor: pointer;

    .numerical-order {
        padding-left: 2rem;
    }

    .action-detail,
    .reason {
        font-size: 1.2rem;
        color: var(--orange-4-default);
        display: flex;
        justify-content: center;
        text-decoration-line: underline;
        cursor: pointer;
        letter-spacing: -0.024px;
    }

    .effective-contract {
        img {
            margin-right: .4rem;
        }
    }

    &:hover {
        background-color: var(--white-transparent);
    }
}

.contract_title,
.contract_item {
    .contract-code {
        width: 15.8rem;
    }

    .numerical-order {
        width: 8rem;
    }

    .contract-name {
        width: 30.9rem;
    }

    .authorized-person {
        width: 21.9rem;
    }

    .ownership {
        width: 20.7rem;
    }

    .effective-contract {
        width: 15.9rem;
    }

    .date-created {
        width: 15.2rem;
    }

    .action-detail,
    .reason {
        width: 10rem;
    }
}