.wrapper {
    display: flex;
    width: 17rem;
    height: 108rem;
    background-color: var(---bg-dark);
    padding: 3.9rem 0 18.7rem 0;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.logo {
    display: flex;
    margin-bottom: 11rem;
    flex-direction: column;
    align-items: center;
    gap: 11rem;

    img {
        width: 9.6rem;
        height: 9.6rem;
    }
}

.sidebar-item {
    display: flex;
    padding: 1.1rem 3.7rem .9rem 3.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;

    img {
        width: 3.2rem;
        height: 3.2rem;
    }

    p {
        color: var(--text-stroke-3);
        font-size: 1.4rem;
        letter-spacing: 0.21px;
    }
}

.item-wrapper {
    cursor: pointer;
    position: relative;
    color: black;
    transition: all .2s ease-in-out;

    &+& {
        margin-top: 2.4rem;
    }

    &:hover {
        background-color: var(--white-transparent);

        .menu-icon {
            filter: invert(44%) sepia(99%) saturate(626%) hue-rotate(350deg) brightness(100%) contrast(110%);
        }

        .title {
            color: var(--orange-4-default);
        }
    }
}

.popup-item {
    .ellipsis {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(50%, -50%);
    }
}

.sidebar {
    width: max-content;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--bg-color-2);
    opacity: 0;
    left: 100%;
    top: 100%;
    position: absolute;
    transition: all .2s ease-in-out;
    margin-top: 0;
    transform: translateY(0);

    &::before {
        display: none;
    }

    a {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.21px;
    }

    .menu-item {
        padding: 1.2rem 2.4rem .9rem 2.4rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        align-self: stretch;
    }
}

.visible {
    top: 0 !important;
    opacity: 1 !important;
    pointer-events: all;
}

// .active {
//     width: .8rem;
//     height: 7.2rem;
//     background: var(--orange-5);
// }