.wrapper {
    display: flex;
    width: 100%;
    height: 108rem;
    background-color: var(---bg-dark);
    padding: 3.9rem 0 18.7rem 0;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.logo {
    display: flex;
    margin-bottom: 11rem;
    flex-direction: column;
    align-items: center;
    gap: 11rem;

    img {
        width: 9.6rem;
        height: 9.6rem;
    }
}

.sidebar-item {
    display: flex;
    padding: 1.1rem 3.7rem .9rem 3.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;

    img {
        width: 3.2rem;
        height: 3.2rem;
    }

    p {
        color: var(--text-stroke-3);
        font-size: 1.4rem;
        letter-spacing: 0.21px;
    }
}

.item-wrapper {
    cursor: pointer;
    position: relative;
    color: black;
    transition: all .2s ease-in-out;

    &+& {
        margin-top: 2.4rem;
    }

    &:hover {
        background-color: var(--white-transparent);

        .menu-icon {
            filter: invert(44%) sepia(99%) saturate(626%) hue-rotate(350deg) brightness(100%) contrast(110%);
        }

        .title {
            color: var(--orange-4-default);
        }
    }
}

.popup-item {
    .ellipsis {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(50%, -50%);
    }
}

.visible {
    .popup-item>div:nth-child(2) {
        cursor: pointer;
        pointer-events: all;
        opacity: 1;
        top: 100%;
    }
}