@import "@fontsource/montserrat"; // Defaults to weight 400
@import "@fontsource/montserrat/400.css"; // Specify weight
@import "@fontsource/montserrat/400-italic.css"; // Specify weight and style

:root {
    --white: #FFF;
    --red: #FF4747;
    --blue: #347AFF;
    --emerald: #2ecc71;

    ---bg-dark: #020220;
    --bg-color: #1E1E2E;
    --bg-color-2: #30303F;
    ---bg-lighter: #2B2B3F;
    --bg-lightest: #3E3E5B;

    --white-transparent: rgba(255, 255, 255, 0.15);
    
    --orange-4-default: #FF7506;
    --orange-5: #B65100;

    --text-stroke-3: #C8C8DB;
    --text-stroke-fill: #2F2F41;
    --text-stroke-text-and-stroke: #F5F5FF;
    --text-stroke-text-and-stroke-2: #727288;
    
    
    --disabled-state: #3E3E50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 108rem;
    color: var(--text-color);
    font: normal 600 1.6rem/1.8em Montserrat;
    line-height: 2.4rem;
    text-rendering: optimizeSpeed;
    background-color: var(--bg-color);
    position: relative;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.--m-top-2rem {
    margin-top: 2rem;
}

.--m-top-1rem {
    margin-top: 1rem;
}

.--cursor-pointer {
    cursor: pointer;
}

.w-585 {
    width: 58.5rem;
}

.--capitalize input{
    text-transform: capitalize;
}